@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.dashboardNav {
    grid-area: initial;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbarIcon {
    width: 100%;
    max-width: 24px;
    height: 100%;
    max-height: 21px;
    cursor: pointer;
    pointer-events: all;
}

.nameBubble {
    display: flex;
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(140, 99, 42, 20%);
}

.desktopDashboardNav {
    display: none;
}

@media screen and (min-width: 600px) {
    .mobileDashboardNav {
        display: none;
    }

    .desktopDashboardNav {
        display: flex;
        border-bottom: 2px solid rgb(131, 77, 0);
    }
}

.sidebarContainer {
    display: none;
    grid-area: sidebar;
}

@media screen and (min-width: 600px) {
    .sidebarContainer {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        height: 100%;
        min-height: 925px;
        gap: 80px;
        padding-top: 36px;
        background: rgba(255, 255, 255, 20%);
        box-shadow: 4px 4px 8px rgba(131, 77, 0, 40%),
                    1px 1px 2px rgba(131, 77, 0, 40%),
                    -1px -1px 2px rgba(233, 179, 102, 40%),
                    -4px 4px 4px rgb(233, 179, 102);
        overflow: hidden;
    }
}

.sidebarIcon {
    width: 100%;
    max-width: 32px;
    height: 32px;
    color: rgb(243, 175, 1);
    cursor: pointer;
}

.openIconContainer {
    display: none;
    opacity: 0;
}

@media screen and (min-width: 600px) {
    .openIconContainer {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 32px;
        max-height: 32px;
        opacity: 1;
        margin-top: 6px;
    }
}

.mainContainer.dashboardContainer .sideLinks {
    opacity: 0 !important;
}

.mainContainer.dashboardContainer.open .sideLinks {
    opacity: 1 !important;
}

.mainContainer.dashboardContainer .sideLinks a {
    transform: translateX(-30px) !important;
    opacity: 0 !important;
}

.mainContainer.dashboardContainer.open .sideLinks a {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.sideLinks {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 150px;
    margin-left: 40px;
    transition: all 0.2s ease-in-out 0.6s;
}

.sideLinks a {
    text-decoration: none;
    color: rgb(70, 49, 21);
    font-family: 'IBM Plex Sans', system-ui;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out 0.7s;
}

.userNameFirstLetter {
    font-family: 'IBM Plex Sans', system-ui;
    font-weight: bold;
    font-size: 24px;
}

.searchbarContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: transparent;
    border-right: transparent;
    border-top: 2px solid rgba(9, 35, 65, 5%);
    border-bottom: 2px solid rgba(9, 35, 65, 5%);
}

.searchbarContainer.mobileSearchbar {
    max-height: 140px;
    gap: 40px;
}

.searchIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 20%);
    box-shadow: 2px 4px 8px rgba(189, 174, 154, 40%),
                1px 1px 1px rgba(189, 174, 154, 40%),
                -1px -1px 1px rgba(240, 225, 205, 40%),
                -4px 4px 7px rgba(240, 225, 205, 40%);
}



.dashboardIcon {
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 20px;
    color: rgba(70, 49, 21, 80%);
}

@media screen and (min-width: 600px) {
    .dashboardBlock .dashboardIcon {
        max-width: 60px;
        min-height: 48px;
        max-height: 48px;
    }
}

.dashboardIcon.dashboardSearchIconDesktop {
    position: absolute;
    left: 20px;
}

.searchbar {
    width: 100%;    
    height: 100%;
    padding-left: 20px;
}

.mobileSearchbar .searchbar {
    background: rgba(255, 255, 255, 20%);
    max-height: 30px;
    border-radius: 24px;
    box-shadow: 2px 2px 7px rgba(131, 77, 0, 25%),
                1px 1px 1px rgba(131, 77, 0, 25%),
                -1px -1px 2px rgba(233, 179, 102, 25%),
                -2px 2px 2px rgba(233, 179, 102, 25%);
}

.searchbarContainer.desktopSearchbar {
    display: none;
}

.desktopSearchbar .searchbar {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 20%);
    box-shadow: 2px 2px 7px rgba(131, 77, 0, 25%), 
                1px 1px 1px rgba(131, 77, 0, 25%),
                -1px -1px 2px rgba(233, 179, 102, 25%),
                -2px 2px 2px rgba(233, 179, 102, 25%);
    border-radius: 24px;
}

@media screen and (min-width: 600px) {
    .searchbarContainer.desktopSearchbar {
        position: relative;
        display: flex;
        border-top: none;
        border-bottom: none;

    }

    .desktopSearchbar .searchbar {

    }

    .searchbarContainer.mobileSearchbar {
        display: none;
    }
}

.titleContainer {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 115px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

@media screen and (min-width: 600px) {
    .titleContainer {
        margin-top: unset;
        max-height: unset;
        justify-content: left;
        margin-left: 35px;
    }
}

.dashboardContent {
    grid-area: content;
    align-self: center;
    margin-top: 80px;
}

@media screen and (min-width: 600px) {
    .dashboardContent {
        align-self: initial;
        margin-top: unset;
        max-height: 760px;
    }
}

.dashboardCanvas {
    grid-area: content;
    /* grid-template-rows: repeat(auto-fill, 60px); */
    width: 100%;
    height: 100%;
    /* max-height: 1200px; */
    
    gap: 10px;
    background: rgba(255, 255, 255, 20%);
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(131, 77, 0, 40%),
                1px 1px 2px rgba(131, 77, 0, 40%),
                -1px -1px 2px rgba(233, 179, 102, 40%),
                -4px 4px 4px rgb(233, 179, 102);
    padding-block: 20px;
    padding-inline: 15px;
}

.mainContainer.darkMode .dashboardCanvas {
    box-shadow: 0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(119, 148, 131, .4),
                0px 2px 4px rgba(119, 148, 131, .4);
}

.dashboardCanvas.mainCanvas {
    display: grid;
    grid-template-rows: auto 100px;
    /* gap: 20px; */
    height: clamp(150px, 100%, 500px);
    margin-top: 20px;
}

.dashboardCanvas.addCanvas {
    display: grid;
    grid-template-rows: repeat(3, auto) 80px;
    justify-items: center;
    gap: 20px;
    height: clamp(150px, 100%, 550px);
    padding-block: initial;
    padding-top: 20px;
    margin-top: 20px;
}

.dashboardCanvas.jotCanvas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboardTextContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', system-ui;
    width: 100%;
    gap: 40px;
    min-height: 70px;
    max-height: 90px;
    align-items: center;
    justify-content: center;
}

.dashboardIntro {
    font-family: 'IBM Plex Serif', system-ui !important;
    font-size: 24px;
    font-weight: 500;
    color: rgb(70, 49, 21);
}

.jotAmount {
    font-weight: 700;
}

.addInstructions {
    font-family: 'IBM Plex Sans', system-ui !important;
    font-weight: 300;
    font-size: 16px;
    color:rgb(70, 49, 21);
}

.continueButton {
    width: 100%;
    max-width: 240px;
    height: 60px;
    background: rgb(70, 49, 21);
    border: none;
    border-radius: 12px;
    color: rgba(255, 227, 187, .65);
    justify-self: center;
    cursor: pointer;
    transition: backgroundColor 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.continueButton:hover {
    background: rgb(160, 127, 84);
    color: rgb(70, 49, 21);
}

@media screen and (max-height: 700px) {
    .dashboardCanvas {
        max-height: 320px;
        gap: 20px;
        padding-block: 20px;
    }

    .dashboardCanvas.mainCanvas {
        
    }
}

@media screen and (min-width: 600px) {
    .dashboardCanvas {
        max-height: initial;
        align-items: initial;
        padding-inline: 40px;
        gap: 100px;
        padding-block: 40px;
    }
}

.mainContainer p.dashboardInstructions {
    text-align: center;
    font-size: 20px;
    font-family: 'IBM Plex Sans', system-ui;
    padding-inline: 20px;
}

@media screen and (min-width: 600px) {
    .mainContainer p.dashboardInstructions {
        font-size: clamp(24px, 28px, 32px);
        font-weight: 500;
        text-align: center;
        padding-inline: initial;
    }
}

@media screen and (min-width: 800px) {
    .mainContainer p.dashboardInstructions {
        font-size: 32px;
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    .mainContainer p.dashboardInstructions {
        font-size: 40px;
        font-weight: 600;
        margin-top: 20px;
    }
}

.blockContainer {
    display: grid;
    grid-template-areas: "code math science" "finance law engineer";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
    height: 100%;
    gap: 20px;
    margin-top: 80px;
}

.blockContainer.jotAdd {
    grid-template-areas: "block" "title" "content" "continue";
    margin-top: 0;
    grid-template-rows: 150px 30px 100px;
    grid-template-columns: unset;
    justify-content: center;
    justify-items: center;
}

.block {
    grid-area: block;
}

.block .dashboardBlock {
    width: 100%;
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px;
}

.block .dashboardBlock > .dashboardIcon {
    width: 25px !important;
    height: 25px !important;
}

.block .dashboardBlock .blockLabel {
    font-size: 12px;
}   

.addTitle {
    grid-area: title;
    font-size: 16px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', system-ui;
}

.mobileFormInputNoIcon.jotChoiceInput {
    grid-area: content;
    gap: 5px;
}

.jotSubmit {
    grid-area: continue;
}

@media screen and (min-width: 600px) {
    .blockContainer {
        margin-top: 0;
    }
}

.dashboardBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 20%);
    box-shadow: 2px 4px 8px rgba(189, 174, 154, 80%),
                1px 1px 1px rgba(189, 174, 154, 80%),
                -1px -1px 1px rgba(240, 225, 205, 80%),
                -4px 4px 7px rgba(240, 225, 205, 80%);
    cursor: pointer;
    pointer-events: all;
}


.folderPlus {
    color: rgba(70, 49, 21, .8);
    width: 32px;
    height: 28px;
    margin-top: 12px;
}

.blockLabel {
    font-family: 'IBM Plex Sans', system-ui;
    font-size: 14px;
    color: rgb(70, 49, 21);
}

@media screen and (min-width: 600px) {
    .blockLabel {
        font-size: 24px;
    }
}

.codingBlock {
    grid-area: code;
}

.mathBlock {
    grid-area: math;
}

.scienceBlock {
    grid-area: science;
}

.financeBlock {
    grid-area: finance;
}

.lawBlock {
    grid-area: law;
}

.engineerBlock {
    grid-area: engineer;
}
 
@media screen and (min-width: 600px) {
    .dashboardBlock {
        min-height: 250px;
        max-height: 250px;
        min-width: initial;
        width: clamp(140px, 100%, 460px);
        gap: 40px;
    }
}

p.logo {
    font-family: 'IBM Plex Sans', system-ui;
    font-size: 48px;
    font-weight: bold;
    color: rgb(70, 49, 21);
}

.linkContainer {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.linkContainer a {
    text-decoration: none;
    font-family: 'IBM Plex Sans', system-ui;
    font-size: 16px;
    color: rgb(155, 98, 21);
    cursor: pointer;
}

.mainContainer .dashboardTitle {
    font-family: 'IBM Plex Serif', system-ui;
    font-weight: bold;
    font-size: 32px;
    color: rgb(70, 49, 21);
}

@media screen and (min-width: 600px) {
    .mainContainer .dashboardTitle {
        
    }
}

.titleRowContainer {
    grid-area: pageTitleSearch;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .titleRowContainer {
        display: grid;
        grid-template-columns:  400px 1fr;
        grid-template-rows: auto;
        gap: 10px;
        align-content: center;
        margin-left: 100px;
    }
}

.hamburgerMenu {
    display: none;
}

@media screen and (min-width: 600px) {
    .hamburgerMenu {
        position: absolute;
        top: 170px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 30px;
        gap: 4px;
        align-self: center;
        margin-top: 5px;
        cursor: pointer;
        pointer-events: all;
        transition: left 0.2s ease-in-out 0.4s,
                    transform 0.2s ease-in-out;
        
    }

    .hamburgerMenu.open {
        left: 60px;
    }
}

.hamburgerMenu .bar1,
.hamburgerMenu .bar3 {
    transform: translateY(0) rotate(0);
}

.hamburgerMenu .bar2 {
    opacity: 1;
}

.hamburgerMenu.open .bar1 {
    transform: translateY(10px) rotate(45deg);
}

.hamburgerMenu.open .bar2 {
    opacity: 0;
}

.hamburgerMenu.open .bar3 {
    transform: translateY(-10px) rotate(-45deg);
}

.bar {
    width: 100%;
    height: 6px;
    border-radius: 12px;
    background: rgb(243, 175, 1);
    cursor: none;
    pointer-events: none;
    transform-origin: "top left";
    transition: transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
}

.textNavigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.textNavigationContainer.yourJotNavigationContainer {

}

.textNavigationContainer.addNavigationContainer {
    margin-top: initial;
    height: 200px;
}

.textNavigationContainer .titleContainer {
    font-weight: 700;
    font-size: 24px;
}

.breadcrumbContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -20px;
}

.breadcrumbContainer p:not(.breadcrumbArrow) {
    font-size: 14px;
    cursor: pointer;
    margin-top: 1px;
}

.currentLocation {
    color: rgb(232, 73, 23);
    font-weight: 700;
}

.panelButtonContainer {
    display: grid;
    /* grid-template-areas: "jotTitle"; */
    align-items: center;
    max-height: 60px;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 2px 4px 8px rgba(189, 174, 154, 40%),
                1px 1px 1px rgba(189, 174, 154, 40%),
                -1px -1px 1px rgba(240, 225, 205, 40%),
                -4px 4px 7px rgba(240, 225, 205, 40%);
    cursor: pointer;
    transition: background 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;
}

.mainContainer.darkMode .panelButtonContainer {
    background: rgb(12, 153, 73);
    box-shadow: 0px 2px 4px rgba(11, 231, 107, .4),
                0px 2px 4px rgba(11, 231, 107, .4),
                0px 2px 4px rgba(119, 148, 131, .4),
                0px 2px 4px rgba(119, 148, 131, .4)
}

.panelTitleContainer {
    position: relative;
    grid-area: jotTitle;
    display: flex;
    justify-content: space-between;
}

.panelTitle {
    font-size: 16px;
    font-weight: 500;
    font-family: 'IBM Plex Serif', system-ui !important;
    color: rgb(70, 49, 21);
    flex-basis: 75%;
}

.trash {
    width: 17.5px;
    height: 20px;
    color: rgb(232, 73, 23);
    cursor: pointer;
    pointer-events: all;
    flex-basis: 15%;
}

.mainContainer.darkMode .trash {
    color: rgb(157, 219, 144);
}

.trash path {
    pointer-events: none;
}

.panelContent {
    margin-top: 20px;
    margin-bottom: 10px;
}

.ellipsis {
    width: 5px;
    height: 20px;
    color: rgb(70, 49, 21);
    flex-basis: 10%;
    margin-top: 1px;
}

.mainContainer.darkMode .ellipsis {
    color: rgb(157, 219, 144);
}

.xiconContainer {
    align-self: end;
    margin-bottom: 20px;
}

.xicon {
    width: 10px;
    height: 20px;
    color: rgb(70, 49, 21);
    cursor: pointer;
}

.xicon:hover {
    color: rgb(148, 43, 2);
}

.mainContainer.darkMode .xicon {
    color: rgb(157, 219, 144);
}

.settingsContainer {
    position: absolute;
    top: -30px;
    right: -20px;
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    z-index: 20;
    background: rgb(243, 218, 173);
    box-shadow: 4px 4px 8px rgba(131, 77, 0, .4),
                1px 1px 2px rgba(131, 77, 0, .4),
                -1px -1px 2px rgba(233, 179, 102, .4),
                -4px 4px 4px rgb(233, 179, 102);
    transition: all 0.2s ease-in-out;
}

.settingsContainer li {
    transition: color 0.2s ease-in-out;
}

.settingsContainer li:hover {
    color: rgb(87, 136, 8);
}

.mainContainer.darkMode .settingsContainer {
    background:rgb(18, 145, 73);
    box-shadow: 1px 1px 2px rgba(23, 204, 102, 0.4),
                1px 1px 2px rgba(23, 204, 102, .4),
                -1px -1px 2px rgba(13, 107, 54, 0.4),
                -1px 1px 2px rgb(13, 107, 54, .4);
}

.settingsContainer li:first-of-type {
    margin-top: 20px;
    margin-bottom: 10px;
}

.editContainer {
    position: absolute;
    top: -20px;
    left: 50%;
    width: auto;
    min-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
    z-index: 20;
    background: rgb(243, 218, 173);
    box-shadow: 4px 4px 8px rgba(131, 77, 0, 0.4),
                1px 1px 2px rgba(131, 77, 0, 0.4),
                -1px -1px 2px rgba(233, 179, 102, .4),
                -4px 4px 4px rgb(233, 179, 102);
    transition: all 0.2s ease-in-out;
}

.mainContainer.darkMode .editContainer {
    background:rgb(4, 41, 20);
    box-shadow: 1px 1px 2px rgba(6, 66, 32, 0.4),
                1px 1px 2px rgba(6, 66, 32, .4),
                -1px -1px 2px rgba(2, 19, 9, 0.4),
                -1px 1px 2px rgb(2, 19, 9, .4);
}

.mainContainer.darkMode .jotTitleInput {
    background: rgb(28, 76, 49);
    box-shadow: 0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(119, 148, 131, .4),
                0px 2px 4px rgba(119, 148, 131, .4);
}

.mainContainer.darkMode .jotContentInput {
    background: rgb(28, 76, 49);
    box-shadow: 0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(119, 148, 131, .4),
                0px 2px 4px rgba(119, 148, 131, .4);
}

.mainContainer.darkMode input[type="text"],
.mainContainer.darkMode textarea {
    color: rgb(210, 248, 223) !important;
}

.mainContainer.darkMode .contentInputContainer {
    background: rgb(28, 76, 49)
}

.mainContainer.darkMode .continueButton {
    background: rgb(28, 76, 49);
    color: rgb(210, 248, 223);
    transition: all 0.2s ease-in-out;
}

.mainContainer.darkMode .toggleContainer:hover {
    background: #F3AF01 !important;
}

.mainContainer.dashboardContainer.jotDashboard.darkMode .ball {
    background: #D2F8D5;
    left: unset;
    translate: 31px;
}

.mainContainer.darkMode .continueButton:hover {
    background: #D2F8D5;
    color: rgb(28, 76, 49);
}

.mainContainer.darkMode .mobileFooter {
    background: rgba(255, 255, 255, .2);
}

.mainContainer.darkMode .footerButton {
    transition: all 0.2s ease-in-out;
}

.mainContainer.darkMode .mobileFooterIcon {
    color: #D2F8D5;
}

/* Change the inputs that come in when you click either the
edit title or edit content to where their content is positioned
absolutely where the edit title/edit content modal is located. */

/* Change the flex layout for the dashboard in a media query
for the desktop */

/* When one of these is pressed, either the input or
the textarea will be rendered within a modal-style popup
window. The value of this input/textarea will be the current
userJot.content */

/* Add in refresh tokens */





/* When using a textarea, ALWAYS put white-space: pre-wrap on the
textarea. This is because of the way react parses textarea data
coming in from the database. If you don't do this, the content
will always come in without line breaks. */


/* Add intro and exit animations for the jots coming
in. */

/* Set up the content inside of the jots and when the
jot is clicked, it will populate the jot with the content
and expand downwards. */

/* sticky the footer button to the bottom instead of having
it fixed */