@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.mobileFormInput {
    display: flex;
    align-items: center;
    background: rgba(193, 169, 137, .8);
    max-width: 300px;
    height: 60px;
    border: none;
    border-radius: 8px;
    padding-inline: 21px;
    box-shadow: 0px 2px 4px rgba(193, 169, 137, .4),
                0px 2px 4px rgba(193, 169, 137, .4),
                0px 2px 4px rgba(116, 101, 82, .4),
                0px 2px 4px rgba(116, 101, 82, .4);
    transition: all 0.2s ease-in-out;
}

.desktopForm .mobileFormInput {
    min-width: 400px;
}

.mainContainer.darkMode .mobileFormInput,
.mainContainer.darkMode .mobileFormInputNoIcon {
    background: rgb(28, 76, 49);
    box-shadow: 0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(17, 46, 29, .4),
                0px 2px 4px rgba(119, 148, 131, .4),
                0px 2px 4px rgba(119, 148, 131, .4);
}

.jotTitleInput {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    padding-block: 10px;
    border-radius: 8px;
    padding-inline: 20px;
    background: rgba(193, 169, 137, .8);
}

.contentInputContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    gap: 6px;
    padding-block: 10px 20px;
    border-radius: 8px;
    padding-inline: 20px;
}

.jotTitleInput.contentInputContainer {
    gap: 10px;
}

.jotTitleLabel {
    font-family: 'IBM Plex Serif', system-ui;
    font-weight: bold;
    color: rgba(77, 68, 55, .8);
}

#jotTitle {
    background: transparent;
    border: none;
    border-radius: 8px;
    height: 100%;
    font-size: 20px;
    color: rgba(77, 68, 55, .8);
    font-family: 'IBM Plex Sans', system-ui;
    font-weight: 600;
}

#jotTitle:focus {
    border: none;
    outline: none;
}

#content {
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'IBM Plex Sans', system-ui;
    color: rgba(77, 68, 55, .8);
    font-size: 16px;
    white-space: pre-wrap;
}

#content:focus {
    border: none;
    outline: none;
}

#content.defaultValue {
    color: rgba(77, 68, 55, .4);
}

.mobileFormInputNoIcon {
    position: relative;
    display: flex;
    padding-top: 5px;
    background: rgba(193, 169, 137, .8);
    min-width: 300px;
    min-height: 60px;
    border: none;
    border-radius: 8px;
    padding-inline: 21px;
    box-shadow: 0px 2px 4px rgba(193, 169, 137, .4),
                0px 2px 4px rgba(193, 169, 137, .4),
                0px 2px 4px rgba(116, 101, 82, .4),
                0px 2px 4px rgba(116, 101, 82, .4);
    transition: all 0.2s ease-in-out;
}

.desktopForm .mobileFormInputNoIcon {
    min-width: 400px;
}

.mobileFormInputNoIcon.jotChoiceInput {
    flex-direction: column;
}

.mainContainer .mobileIcon {
    width: 21px;
    height: 24px;
    color: rgb(77, 68, 55);
    margin-right: 23px;
}

.mainContainer.darkMode .mobileIcon {
    color: rgb(210, 248, 213);
}

.mainContainer .divider {
    height: 40px;
    border: 1px solid rgb(230, 221, 208);
    margin-right: 20px;
}

.mainContainer.darkMode .divider {
    border: 1px solid rgb(187, 244, 193);
}

.inputContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
}

.inputContentContainerNoIcon input {
    position: absolute;
    bottom: 12px;
    left: 21px;
}

.mainContainer .landingButton {
    background: rgb(70, 49, 21);
    color: rgb(247, 242, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    min-width: 300px;
    height: 60px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.landingButton:hover,
.landingSubmitButton:hover {
    background: rgb(179, 128, 67);
    color: rgb(104, 75, 39);
}

.mainContainer.darkMode .landingButton {
    background: rgb(65, 123, 90);
    color: rgb(210, 248, 223);
}

.mainContainer.darkMode .landingButton:hover {
    background: rgb(103, 149, 123);
    color: rgb(60, 83, 70);
}

.landingSubmitButton {
    grid-area: proceedButton;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 8px;
    height: 60px;
    background: rgb(70, 49, 21);
    color: rgb(250, 246, 239);
    align-self: center;
    justify-self: center;
    cursor: pointer;
    margin-top: 60px;
}

.mainContainer.darkMode .landingSubmitButton {
    background: rgb(65, 123, 90);
    color: rgb(210, 248, 223);
}

.mainContainer.darkMode .landingSubmitButton:hover {
    background: rgb(103, 149, 123);
    color: rgb(60, 83, 70);
}

.mobileFooter {
    grid-area: footer;
    width: 100%;
    position: fixed;
    justify-self: center;
    bottom: 0;
    grid-area: footer;
    height: 70px;
    background: rgb(174, 123, 52);
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 600px) {
    .mobileFooter {
        display: none;
    }
}

.footerButton {
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255, 20%);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 7px rgba(223, 202, 174, 15%),
                1px 1px 1px rgba(223, 202, 174, 15%),
                -1px -1px 1px rgba(238, 238, 238, 40%),
                -4px -4px 7px rgba(135, 134, 134, 40%);
    cursor: pointer;
    pointer-events: all;
}   

.mobileFooterIcon {
    width: 27px;
    height: 24px;
    color: rgb(236, 218, 192);
    cursor: none;
    pointer-events: none;
    transition: color 0.2s ease-in-out;
}

.footerButton:hover .mobileFooterIcon {
    color: rgb(114, 214, 0);
}







