.contentContainer {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}




.desktopForm {
    max-height: 0;
    width: 0;
    overflow: hidden;
}

.pageInputContainer.landingInputContainer {
    grid-area: form;
}

.formInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.landingControls {
    position: relative;
    width: 100%;
    min-width: 350px;
    max-width: 350px;
    height: 60px;
    border-radius: 8px;
    background: rgb(70, 49, 21);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* z-index: -1; */
    transform: translateY(-30px);
}

.mainContainer.landingContainer.darkMode .landingControls {
    background: rgb(28, 76, 49);
}

.toggleIndicator {
    height: 52px;
    width: 100%;
    max-width: 170px;
    border-radius: 8px;
    background: rgb(184, 94, 11);
    position: absolute;
    top: 4px;
    transform: translateX(4px);
    z-index: 1;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.mainContainer.darkMode.landingContainer .pageInputContainer.landingInputContainer .landingControls {
    background: rgb(28, 76, 49);
}

.mainContainer.darkMode .toggleIndicator {
    background: rgb(56, 152, 98);
}

.toggleIndicator[signUpForm=""] {
    transform: translateX(176px);
}

.landingControls button {
    border: none;
    background: transparent;
    z-index: 2;
    cursor: pointer;
}

.desktopLoginButton {
    position: relative;
    left: 65px;
}

.desktopSignupButton {
    position: relative;
    right: 63px;
}

.desktopForm {
    max-height: initial;
    width: initial;
    overflow: initial;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 600px) {
    .mainContainer.landingContainer .pageContent.landingContent {
        align-self: unset;
    }

    .landingControls {
        position: relative;
        min-width: 400px;
        max-width: 400px;
        height: 60px;
        border-radius: 8px;
        background: rgb(70, 49, 21);
        display: flex;
        justify-content: space-between;
        gap: 20px;
        transform: translateY(-30px);
    }

    .mainContainer.landingContainer.darkMode .landingControls {
        background: rgb(28, 76, 49);
    }

    .toggleIndicator {
        height: 52px;
        width: 180px;
        border-radius: 8px;
        background: rgb(184, 94, 11);
        position: absolute;
        top: 4px;
        transform: translateX(4px);
        z-index: 1;
        transition: all 0.25s ease-in-out;
    }

    .mainContainer.darkMode.landingContainer .pageInputContainer.landingInputContainer .landingControls {
        background: rgb(28, 76, 49);
    }

    .mainContainer.darkMode .toggleIndicator {
        background: rgb(56, 152, 98);
    }

    .toggleIndicator[signUpForm=""] {
        transform: translateX(226px);
    }
    
    .landingControls button {
        border: none;
        background: transparent;
        z-index: 2;
        cursor: pointer;
    }

    .desktopLoginButton {
        position: relative;
        left: 65px;
    }

    .desktopSignupButton {
        position: relative;
        right: 63px;
    }

    .desktopForm {
        max-height: initial;
        width: initial;
        overflow: initial;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}