.mainContainer.loginContainer .pageContent.loginPage {
    grid-area: content;
    align-self: start;
    margin-top: 30px;
}

.mainContainer.loginContainer .pageInputContainer.loginInputContainer {
    grid-area: inputs;
    align-self: start;
    margin-top: 10px;
}

.mainContainer.loginContainer .landingButton {
    grid-area: proceedButton;
    align-self: end;
    margin-bottom: 60px;
}