@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(180deg, rgba(255, 227, 187, .5) 0%, rgba(229, 187, 128, .50) 31%, rgba(219, 128, 0, .5) 79%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    body {
        display: initial;
        justify-content: initial;
    }
}

label {
    font-family: 'IBM Plex Serif', system-ui;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(77, 68, 55);
}


input[type="text"] {
    font-family: 'IBM Plex Sans', system-ui;
    border: none;
    background: transparent;
    color: #4D4437;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px;
}

a {
    font-family: 'IBM Plex Sans', system-ui;
}

.mainContainer.darkMode label,
.mainContainer.darkMode input[type="text"] {
    color: rgb(210, 248, 223);
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

button {
    font-family: 'IBM Plex Sans', system-ui;
    font-size: 16px;
    color: rgb(247, 242, 235);
}

.mainContainer {
    position: relative;
    display: grid;
    height: 100vh;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    color: rgb(70, 49, 21);
    transition: color 0.2s ease-in-out;
}

@media screen and (min-width: 600px) {
    .mainContainer {
        height: 100%;
    }
}

.mainContainer.landingContainer {
    grid-template-areas: "nav" "content";
    grid-template-rows: 50px 1fr;
}

@media screen and (min-width: 600px) {
    .mainContainer.landingContainer {
        grid-template-areas: "nav" "content" "form" "proceedButton";
        grid-template-rows: 50px 300px 300px 100px;
    }
}

.mainContainer.loginContainer {
    grid-template-areas: "nav" "content" "inputs" "proceedButton";
    grid-template-rows: 50px 150px repeat(2, 1fr);
}

.mainContainer.signupContainer {
    grid-template-areas: "nav" "content" "inputs" "proceedButton";
    grid-template-rows: 50px 150px repeat(2, 1fr);
}

.mainContainer.dashboardContainer {
    display: grid;
    width: 100%;
    max-width: 500px;
    grid-template-rows: 80px 200px repeat(2, 1fr);
    grid-template-columns: minmax(200px, 375px);
    grid-template-areas: "nav" "pageTitleSearch" "content" "footer";
    padding-top: 0;
    gap: 0;
}

@media screen and (min-width: 600px) {
    .mainContainer.dashboardContainer {
        max-width: 1440px;
        grid-template-areas: "nav nav nav" "sidebar pageTitleSearch pageTitleSearch" "sidebar content content";
        grid-template-rows: 100px 170px 1fr;
        grid-template-columns: 0px 1fr 2fr;
        transition: all 0.3s ease-in-out 0.3s;
    }

    .mainContainer.dashboardContainer.open {
        grid-template-columns: 320px 1fr 2fr;
        column-gap: 40px;
    }
}


.mainContainer.darkMode {
    color: rgb(210, 248, 213);
}

.dayNightModeToggle {
    position: absolute;
    right: 0;
}

.mainContainer h1 {
    font-family: 'IBM Plex Sans', system-ui;
}

@media screen and (min-width: 600px) {
    .mainContainer h1 {
        font-size: 48px;
    }
}



.mainContainer p {
    font-family: 'IBM Plex Serif', system-ui;
}

@media screen and (min-width: 600px) {
    .mainContainer p {
        font-size: 20px;
    }
}

.mainContainer.darkMode p {
    color: #D2F8D5;
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pageInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 600px) {
    .pageInputContainer {
        justify-content: unset;
        max-width: 400px;
        justify-self: center;
        margin-top: -50px;
    }
}

.loginContainer input[type="text"] {
    height: 100%;
    max-height: 20px;
}

