@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(180deg, rgba(255, 227, 187, .5) 0%, rgba(229, 187, 128, .50) 31%, rgba(219, 128, 0, .5) 79%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

label {
    font-family: 'IBM Plex Serif', system-ui;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(77, 68, 55);
}


input[type="text"] {
    font-family: 'IBM Plex Sans', system-ui;
    border: none;
    height: 20px;
    background: transparent;
    color: #4D4437;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px;
}

a {
    font-family: 'IBM Plex Sans', system-ui;
}

.mainContainer.darkMode label,
.mainContainer.darkMode input[type="text"] {
    color: rgb(210, 248, 223);
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

button {
    font-family: 'IBM Plex Sans', system-ui;
    font-size: 16px;
    color: rgb(247, 242, 235);
}

.mainContainer {
    position: relative;
    display: grid;
    height: 100vh;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    max-width: 375px;
    color: rgb(70, 49, 21);
    transition: color 0.2s ease-in-out;
}

@media screen and (min-width: 600px) {
    .mainContainer {
        max-width: 1200px;
        height: 100%;
    }
}

.mainContainer.landingContainer {
    grid-template-areas: "nav" "content";
    grid-template-rows: 50px 1fr;
}

@media screen and (min-width: 600px) {
    .mainContainer.landingContainer {
        grid-template-areas: "nav" "content" "form" "proceedButton";
        grid-template-rows: 50px 300px 300px 100px;
    }
}

.mainContainer.loginContainer {
    grid-template-areas: "nav" "content" "inputs" "proceedButton";
    grid-template-rows: 50px 150px repeat(2, 1fr);
}

.mainContainer.signupContainer {
    grid-template-areas: "nav" "content" "inputs" "proceedButton";
    grid-template-rows: 50px 150px repeat(2, 1fr);
}

.mainContainer.dashboardContainer {
    grid-template-areas: "nav" "searchbar" "content" "footer";
    grid-template-rows:  80px 140px 1fr 70px;
    gap: 0;
}

.mainContainer.darkMode {
    color: rgb(210, 248, 213);
}

.mainContainer .dayNightModeToggle {
    justify-self: end;
}

.mainContainer h1 {
    font-family: 'IBM Plex Sans', system-ui;
}

@media screen and (min-width: 600px) {
    .mainContainer h1 {
        font-size: 48px;
    }
}



.mainContainer p {
    font-family: 'IBM Plex Serif', system-ui;
}

@media screen and (min-width: 600px) {
    .mainContainer p {
        font-size: 20px;
    }
}

.mainContainer.darkMode p {
    color: #D2F8D5;
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pageInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 600px) {
    .pageInputContainer {
        justify-content: unset;
        max-width: 400px;
        justify-self: center;
        margin-top: -50px;
    }
}

